.timernav {
  position: relative;
  top: -20px;
  height: 220px;
  width: 100%;
  border-radius: 25px;
  background-color: #b3dbd8;
  color: #040f16;
  display: flex;
  justify-content: center;
}

.timernav__wrapper {
  padding-top: 20px;
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.timernav__upperbar {
  height: 80px;
  max-width: 1300px;
  padding: 0 25px 0 17.15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timernav__title {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timernav__title svg {
  padding-top: 2px;
  padding-bottom: -5px;
}

.timernav__title span {
  color: #121d23;
}

.timernav__menubutton {
  font-size: 2.1rem;
}

.timernav__lowerbar {
  display: flex;
  justify-content: center;
}
