.timerdisplay {
  width: 92.5%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timerdisplay__bar {
  width: 98%;
  height: 15px;
  border-radius: 20px;
  border: #040f16 2.5px solid;
  background-color: #7ea2a1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.timerdisplay__load {
  background-color: #fcd3de;
  border-radius: 20px;
  width: 65%;
  height: 100%;
  margin-bottom: -0.5px;
  background: linear-gradient(
    281deg,
    rgb(142, 222, 188),
    rgb(131, 200, 179),
    rgb(119, 178, 170),
    rgb(107, 156, 160),
    rgb(95, 135, 151)
  );
}
.timerdisplay__text {
  margin-top: -25px;
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
}

.timerdisplay__text svg {
  font-size: 1.5rem;
}
