*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #a1cecb;
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgb(16, 32, 42);
  background: linear-gradient(
    10deg,
    rgba(16, 32, 42, 1) 0%,
    rgba(1, 4, 6, 1) 79%
  );
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02),
    0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
}
