.lowernav {
  height: 105px;
  width: 100%;
  background-color: #121d23;
  border-radius: 20px;
  margin-top: -60px;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowernav__wrapper {
  max-width: 1200px;
  width: 100%;
  height: 62.5px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowernav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.1em;
  color: #b3dbd8;
  cursor: pointer;
}

.lowernav__menu svg {
  font-size: 2.1rem;
  color: #b3dbd8;
}
